<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <h1>Ben's To-Do App</h1>
        <nav style="background-color: red;">
            <button>Create New List</button>
            <button>Sign Up</button>
            <button>Login</button>
        </nav>
        <ul>List of Individual To-Do Lists
            <li>List X</li>
            <li>List Y</li>
            <li>List Z</li>
        </ul>
        <footer style="background-color: red;">
            <button>Back to Index</button>
        </footer>
    </div>
</body>
</html>